*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body
{
    display:flex;
    background:black;
    justify-content:center;
}
#snake_canvas
{
    position:relative;
    margin-top:50px;
    background:url(./hao-wang-pVq6YhmDPtk-unsplash.jpg) ;
    background-size: cover;
    border-radius:10px;
    border:10px solid saddlebrown;
}